#HCB_comment_box {
   margin: 0;
   font-family: arial!important;
}

.comment, #HCB_comment_form_box {	
   text-align: left;
}

#HCB_comment_box .comment {	
   margin-bottom: 1.1em!important;
}

#HCB_comment_form_box {	
   padding-bottom: 0;
}

#HCB_comment_box blockquote {
   border: none!important;
   font-style: normal;
   margin-bottom: 0!important;
   padding-bottom: 5px!important;
}

.hcb-like, .hcb-flag {
   display: none;
}

.hcb-reply, .hcb-reply:hover, .hcb-reply:focus {
   color: var(--fg-block-weak)!important;
   visibility: hidden!important;
} 

.hcb-reply::before {
   content: '💬 Reply';
   visibility: visible;
   padding-left: 12px;
} 

#HCB_comment_box .author-name::before {
   content: '🕵️ ';
}

#HCB_comment_box > h3:first-child {
   visibility: hidden;
}

.hcb-icon {
   display:none;
}

#hcb_form_content {
   width: 70%;
}

.home-desc {
   display:none;
}

#hcb_form_name, #hcb_form_content {
   background: var(--bg-code)!important;
   color: var(--fg-code)!important;
   font-family: monospace!important;
   border: 1px darkgray solid!important;
   border-radius: 0!important;
}

#hcb_form_name:focus, #hcb_form_content:focus {
   outline: none!important;
}

#hcb_submit, .btn {
  background: transparent!important;
   color: var(--fg-code)!important;
   font-family: monospace!important;
   font-size: 1em!important;
   border: none!important;
}

#HCB_comment_box [id^="replies_"] .comment {
   margin-left: 40px!important;
   margin-bottom: 0.4em!important;
   margin-top: 0.1em!important;
}

.hcb-comment-body {
  margin-left: 10px!important;
}
